.idea
.DS_Store
bin/
build/
dist/
dist-release-arti/

# Binaries for programs and plugins
cloud-access-bot
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
coverage.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out